.icon-cont {
    flex: 1 1 80px;
    max-width: 82.5px;
    display: flex;
    justify-content: center;
    position: relative;
}
.anim-cont {
    position: absolute;
    width: initial;
    height: initial;
    will-change: opacity;
}
.anim-cont > img {
    width: 75px;
}