.app-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.app-main-container > h1 {
    width: 660px;
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0 0 0;
}
.error-cont {
    position: absolute;
    width: 200px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.5;
    top: 385px;
    z-index: 2;
}