.wind-cont {
    width: 100%;
    /* height: 62px; */
    margin-top: 12px;
    position: relative;
}
.wind-cont-header {
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 7px;
}
.wind-cont-header > span {
    padding: 0 15px;
}
.wind-cont-speeds {height: 33px;}
.wind-cont-directions {margin-top: 7px;}
.wind-cont-speeds, 
.wind-cont-directions {
    width: 100%;
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: row;
}
.wind-speed,
.wind-dir {
    flex: 1 1 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind-speed > div {
    width: 60px;
    height: 28px;
    transform: skew(-12deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind-dir > div {
    font-size: 13px;
    color: #777;
}