.header-cont {
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 40px;
    background-color: #359ffb;
}
.header-cont__wrapper {
    height: 100%;
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-cont__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.current-location {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.current-location > img {
    width: 100%;
    height: 100%;
}
.header-cont__city {
    outline: none;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 10px;
    width: 190px;
}
.header-cont__city::placeholder {
    color: #359FFB;
}

.lang-cont {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.lang-cont > a {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
}
.lang-cont > a > img {
    height: 100%;
}

@media (max-width: 670px) {
    .header-cont {
        padding: 0 10px;
    }
}