.header-main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #359FFB;
}

.header-main-container > div {
    height: 100%;
    width: 660px;
    display: flex;
    align-items: center;
}

.header-main-container__city {
    outline: none;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 10px;
}
.header-main-container__city::placeholder {
    color: #359FFB;
}