.info-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #EBEDEE;
    position: relative;
}
.info-main {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.info-main.loading {
    height: 399px;
}
.info-additional {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 215px;
    margin-top: 20px;
}