.tab-container {
    width: 213px;
    height: 105px;
    background-color:white;
    margin-top: 10px;
    padding: 6px 0 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    will-change: height;
    transition: height 0.4s ease-in-out;
}
.tab-container.loading {
    padding: 0;
    cursor: default;
}
.tab-container.selected {
    height: 125px;
    cursor: default;
    /* background-color: red; */
} 
.tab-container:not(.selected):not(.loading):hover {
    box-shadow: 0px 5px 21px -8px #000000;
}
/* #################tab-content################# */
.tab-content {
    max-height: 93px;
    width: 120px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.tab-content__date {
    font-size: 17px;
    line-height: 19px;
    height: 19px;
    white-space: nowrap;
    font-weight: 500;
}
.tab-content__date.marquee {
    animation: marquee 5s linear infinite;
}
@keyframes marquee {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}
.tab-content__day {
    font-size: 13px;
    line-height: 15px;
    color: #777;
}
.tab-content__temp {
    height: 46px;
    display: flex;
    flex-direction: row;
    margin-top: 11px;
}
.tab-content__temp-n,  .tab-content__temp-d {
    position: relative;
    width: 50%;
    height: 30px;
}
/*#################tab-visual#################  */
.tab-visual {
    max-height: 93px;
    margin: 0 5px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.tab-visual__icon {
    text-align: center;
    flex: 1 0 auto;
}
.tab-visual__icon > img {
    width: 90%;
}
.tab-visual__text {
    margin-top: 6px;
    text-align: center;
    font-size: 13px;
    color: #08D;
    flex: 0 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}