.weather-cont {
    width: 660px;
    position: relative;
}
.tabs-wrapper {
    width: 100%;
}

@media (max-width: 670px) {
    .weather-cont {
        width: 100%;
        padding: 0 10px;
    }
    .tabs-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 125px;
    }
    .tabs-wrapper::-webkit-scrollbar {
        display: none;
    }
}