.additional-cont {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: white;
}
.additional-cont-title {
    /* width: 630px; */
    margin: 0 15px;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #EBEDEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 40px;
}
/* --------------------------------------------- */
.title__button {
    flex: 1 1 40px;
    color: #08D;
    opacity: 0;
    will-change: opacity;
}
.title__button.visited {
    opacity: 1;
}
.title__button > a {
    cursor: pointer;
    will-change: color;
}
.title__button > a:hover {
    color: red;
}
.title__button:last-child {
    text-align: end;
}
/* --------------------------------------------- */
.additional-cont-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.additional-cont-date {
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 15px;
}
.additional-cont-date > span:first-child {
    font-weight: 500;
}
.additional-cont-date > span:last-child {
    color: #777;
}

@media (max-width: 670px) {
    .additional-cont-wrapper {
        overflow-x: scroll;
    }
    .additional-cont-wrapper::-webkit-scrollbar {
        display: none;
    }
    .wrapper-scroll {
        width: 200%;
    }
}